*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(238, 238, 238);
    padding: 3em;
}

.page{
    max-width: 100em;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 4em 6em;
}

header{
    display: flex;
    flex: 0 0 100%;
    border-bottom: 2px solid black;
    padding-bottom: 2em;
    justify-content: space-between;
}

header > a{
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

nav>ul{
    display: flex;
    list-style: none;
}

nav>ul>li>a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    padding: 1em 1em 1em 1em;
}

nav>ul>li>a:hover{
    background-color: green;
    color: #fff;
}


h1, h2, h3{
    font-size: 2em;
    margin-bottom: 0.5em;
}

h1{font-size: 2.8em;}
h2{font-size: 2.2em;}
h3{font-size: 1.8em;}

main{
    flex: 0 0 60%;
    gap: auto;
}

aside{
    flex: 1 1 auto;
}

img{
    display: inline-block;
    max-width: 100%;
    height: auto;
    border: 5px solid black;
    padding: 0.5em;
    background-color: aliceblue;
    box-shadow: 0 0 0.5em #474545;
}

p{
    padding-bottom: 2em;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    
}

blockquote.align-right{
    float: right;
    max-width: 40%;
    padding-left: 1.5em;
    border-left: 1px solid #878585;
    color: #878585;
    font-style: italic;
    margin-left: 1.5em;   
}

.align-right{
    float: right;
    margin: 0 0 1em 2em;
}

.align-left{
    float: left;
    margin: 0 2em 1em 0;
}

p:nth-child(2){
    text-align: right;
    padding: 0;
}

p:nth-child(9){
    display: inline-block;
    padding-top: 1em;
}

.site-aside{
    padding-left: 2.5em
}

.site-aside>li{
    padding: 0.25em 0.25em 0.25em 0;
}

a{
    text-decoration: none;
    color: green;
}

h3{
    padding: 1em 1em 0.25em 0;
}